<%- include('includes/head.ejs')  %>

<link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
</head>

<body>
    <h3>Users list...</h3>
    <% if (userList.length) { %>
    <ul>
        <% userList.forEach((user) => { %>
            <li><%= user %></li>
        <% }) %>
    </ul>
    <% } %>
<a href="/">To Home</a>
<%- include('includes/end.ejs')  %>