extends layouts/layout.pug

block styles
    link(rel="stylesheet" type="text/css" media="screen" href="/main.css")
block content
    h3 Users list...
    if userList.length > 0
        ul(#inputFileEl="") 
            each user in userList
                li #{user}
    else
        p No users found
    a(href="/") To Home 